<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizwiz" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.quizwiz.InitialLoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quizwiz.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.quizwiz.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.quizwiz.HomePage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quizwiz.Categories"
            android:label="@string/title_activity_categories" >
        </activity>
        <activity
            android:name="com.quizwiz.SelectChallenger"
            android:label="@string/title_activity_select_challenger" >
        </activity>
        <activity
            android:name="com.quizwiz.QuizQuestions"
            android:label="@string/title_activity_quiz_questions" >
        </activity>
        <activity
            android:name="com.quizwiz.ProfileActivity"
            android:label="@string/title_activity_profile_activity" >
        </activity>
        <activity
            android:name="com.quizwiz.PostQuiz"
            android:label="@string/title_activity_post_quiz" >
        </activity>
    </application>

</manifest>
